# Global codeowners

* @newrelic/opentelemetry-community

getting-started-guides/dotnet/      @alanwest
getting-started-guides/ruby/        @kaylareopelle

other-examples/collector/   @jcountsNR
other-examples/dotnet/      @alanwest
