
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: collector
  namespace: nr-nrdot-host-monitoring
  labels:
    app.kubernetes.io/name: collector
spec:
  selector:
    matchLabels:
      name: collector
  template:
    metadata:
      labels:
        name: collector
    spec:
      containers:
        - name: collector
          image: newrelic/nrdot-collector:1.11.0
          args:
            - --config=/etc/nrdot-collector/config.yaml
            # The root path of the host filesystem. This is required by the hostmetrics receiver and not set by default in the nrdot-collector config.
            - "--config=yaml:receivers::hostmetrics::root_path: /hostfs"
            # By default, the otlp receiver is configured to listen on localhost at port 4318, we need to change this to listen on the pod IP.
            - "--config=yaml:receivers::otlp::protocols::http::endpoint: ${env:MY_POD_IP}:4318"
          env:
            # The default US endpoint is set here. You can change the endpoint and port based on your requirements if needed.
            # docs: https://docs.newrelic.com/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-otlp/#configure-endpoint-port-protocol
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: https://otlp.nr-data.net/
            # The New Relic API key used to authenticate export requests.
            # Defined in secrets.yaml
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: nr-nrdot-host-monitoring-secret
                  key: NEW_RELIC_API_KEY
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            # host.id is required for NewRelic host entity synthesis and relationships, but is not included by any resourcedetection detector when running with docker on macOS.
            # We enabled the "env" resource detector and set host.id to the name of the node via env var.
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: host.id=$(NODE_NAME)
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          volumeMounts:
            - name: hostfs
              mountPath: /hostfs
              readOnly: true
              mountPropagation: HostToContainer
          ports:
            - containerPort: 4318
              hostPort: 4318
      volumes:
        - name: hostfs
          hostPath:
            path: /
