apiVersion: v1
kind: Secret
metadata:
  name: otel-platform-secret
  namespace: otel-platform
stringData:
  # New Relic license key. Used ONLY by the Gateway collector to authenticate
  # export requests -- never referenced by the Instrumentation CR or by any
  # application Pod.
  # docs: https://docs.newrelic.com/docs/apis/intro-apis/new-relic-api-keys/#license-key
  NEW_RELIC_LICENSE_KEY: <INSERT_LICENSE_KEY>
  # US default. If your account is based in the EU, use https://otlp.eu01.nr-data.net
  NEW_RELIC_OTLP_ENDPOINT: https://otlp.nr-data.net
