apiVersion: v1
kind: Secret
metadata:
  name: nr-otel-internal-telemetry-secret
  namespace: internal-telemetry-nr-k8s-otel-collector
stringData:
  # New Relic license key to authenticate the export requests.
  # docs: https://docs.newrelic.com/docs/apis/intro-apis/new-relic-api-keys/#license-key
  NEW_RELIC_LICENSE_KEY: <INSERT_LICENSE_KEY>
  # The default US endpoint is set here. If your account is based in the EU, use `https://otlp.eu01.nr-data.net` instead.
  # docs: https://docs.newrelic.com/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-otlp/#configure-endpoint-port-protocol
  NEW_RELIC_OTLP_ENDPOINT: https://otlp.nr-data.net
